@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
}
