.main-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  overflow-x: scroll;
}
.body {
  margin: 10px;
}
.display-grouping {
  display: flex;
  flex-direction: row;
}
